<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="TestNG Suite" >
  <test name="Basics TestNG" >
    <classes>
    
    
       <class name="com.test.ExceptionTimeoutTest" />
       <class name="com.test.ExpectedException" />
       <class name="com.test.GoogleTest" />
       <class name="com.test.InvocationCountTest" />
       <class name="com.test.TestNGbasics" />
       <class name="com.test.TestNGFeature" />
       
       
    </classes>
  </test>
 </suite>